/* Apply reasonable defaults */
* {
  border: 0 none;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

.hidden {
  display: none !important;
}

/* GRID */

#layout {
  min-height: 100%;
  display: grid;
  grid-template-areas:
    'header       header        header'
    'left-panel   content       right-panel'
    'footer       footer        footer';
  grid-template-columns: 1fr 28fr 1fr;
  grid-template-rows: auto 1fr auto;
}

#primary-header {
  grid-area: header;
}

#content-section {
  grid-area: content;
}

#site-footer {
  /*bottom: 0;*/
  grid-area: footer;
}

/* Header */

#primary-header,
#primary-header a,
#primary-header a:visited {
  color: #0f000c;
  text-decoration: none;
}

#primary-header nav ul {
  padding: 0;
  margin: 0.1em 0;
  font-size: 1em;
  list-style-type: none;
}

#primary-header nav li {
  display: inline-block;
  margin: 0.1em;
}

#primary-header nav li a {
  padding: 0.1em;
  background-color: #ff0080;
  border-radius: 3px;
}

/* Typography */

body {
  font-size: 16px;
  line-height: 1.5em;
}

a {
  color: #00295e;
}

a:hover {
  color: #00295e;
}

a:visited {
  color: #00295e;
}

/* Media queries */

@media (min-width: 43em) {
  #site-title {
    font-size: 1.5em;
    margin: 0.3em 0;
  }
}