/* Apply reasonable defaults */
* {
  border: 0 none;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

hr {
  display: block;
  margin: 2rem auto;
  border-style: inset;
  border-width: 1px;
}

.hidden {
  display: none !important;
}

.clear {
  clear: both;
}

.center {
  text-align: center;
}

.left,
.right {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.left {
  float: left;
  margin-right: 1rem;
}

.right {
  float: right;
  margin-left: 1rem;
}

.no-top-margin {
  margin-top: 0;
}

.half {
  box-sizing: border-box;
  width: 50%;
}

.full-width {
  width: 100%;
}

/* GRID */

#layout {
  display: grid;
  grid-template-areas:
    "header-left        header        header-right"
    "content-left       content       content-right"
    "footer-left        footer        footer-right";
  grid-template-columns: 1fr 80rem 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100%;
}

#site-header {
  grid-area: header;
}

#site-content {
  grid-area: content;
}

#site-footer {
  grid-area: footer;
}

/* Typography and theming */

body {
  color: #0f0f0f;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6,
#site-header {
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
}

#site-content h1,
#site-content h2,
#site-content h3,
#site-content h4,
#site-content h5,
#site-content h6 {
  margin-top: 0.5em;
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 1rem;
}

a,
a:hover,
a:visited {
  color: #591010;
}

/* Header styling */

#site-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

#site-header,
#site-header a,
#site-header a:visited,
#site-header a:hover {
  color: #a50d0e;
  text-decoration: none;
}

#site-title {
  font-family: "Salsa", sans-serif;
  font-size: 5rem;
  font-weight: normal;
  padding: 0.3rem;
  text-shadow: 2px 2px 1px #570707;
}

#main-menu ul {
  font-size: 1em;
  list-style-type: none;
  padding: 0;
  margin: 0.1em 0;
}

#main-menu li {
  display: inline-block;
  margin: 0.1em;
}

#main-menu li:first-child {
  display: none;
}

#main-menu li a {
  font-size: 1.3em;
  border-radius: 4px;
  padding: 0.6em;
  line-height: 2.5em;
}

#main-menu li a,
#main-menu li a:visited {
  background-color: #a50d0e;
  color: #f9f9f9;
}

#main-menu li a:hover,
#main-menu ul.index li.index a,
#main-menu ul.palvelut li.palvelut a,
#main-menu ul.tuotteet li.tuotteet a,
#main-menu ul.yhteystiedot li.yhteystiedot a,
#main-menu ul.index-en li.index-en a,
#main-menu ul.services li.services a,
#main-menu ul.products li.products a,
#main-menu ul.contacts li.contacts a {
  background-color: #570707;
  box-shadow: inset 1px 1px 1px #270303;
  color: #f9f9f9;
}

.hamburger-button,
#site-header input[type="checkbox"],
#main-menu > label:last-child {
  display: none;
}

ul#language-menu {
  list-style-type: none;
  line-height: normal;
}

#language-menu img {
  border-radius: 4px;
  max-height: 2rem;
  padding: 0;
}

/* Content section styling */

#site-content {
  background-color: rgba(249, 249, 249, 0.9);
  border-radius: 4px;
  padding: 1.5em;
}

#site-content > *:first-child {
  margin-top: 0;
}

.dual-flex-container,
.triple-flex-container {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dual-flex-container > div,
.triple-flex-container > div {
  box-sizing: border-box;
  margin: 0.5rem;
}

.dual-flex-container > div {
  flex: 2;
}

.triple-flex-container > div {
  flex: 3;
}

.vertically-centered {
  align-self: center;
}

.contact-info-list {
  list-style: none;
}

.contact-info-list li {
  margin: 0.4em 0;
}

.button {
  background-color: #EFE1C8; /* a50d0e */
  border: 1px #e9c29b;
  border-style: solid none none solid;
  box-sizing: border-box;
  box-shadow: 1px 1px 1px #86785f;
  color: #a50d0e;
  font-weight: 700;
  padding: 0.4em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
}

a.button,
a.button:hover,
a.button:visited {
  color: #a50d0e;
}

.wide-button {
  width: 100%;
}

.course-card {
  background-color: #f9f9f9;
  border-radius: 4px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.video-container {
  overflow: hidden;
  padding-bottom: 60%; /* Hack to accommodate roughly 16:9 video */
  position: relative;
}

.video-container > iframe {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

figure > img {
  max-width: 100%;
}

#front-page-map {
  width: 100%;
  min-height: 20rem;
}

.product-price {
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0;
}

/* Forms */

input,
textarea {
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  min-width: 24rem;
  padding: 0.5em;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 0.3em;
  min-width: auto;
}

input[type="text"],
input[type="email"] {
  padding: 0.3em;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #0da559; /* a50d0e */
  border: 1px #0fd472;
  border-style: solid none none solid;
  border-radius: 4px;
  box-shadow: 1px 1px 1px #076636;
  color: #042413;
  float: right;
  font-size: 1.2em;
  min-width: 20%;
  padding: 0.4rem;
}

label {
  display: inline-block;
  min-width: 7rem;
}

textarea {
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
}

fieldset {
  background-color: #e0e0e0ee;
  border-radius: 4px;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

fieldset legend {
  background-color: #e0e0e0ee;
  border-radius: 4px;
  padding: 0.2rem 0.4rem;
}

span.required {
  color: #a50d0e;
  font-size: 0.8em;
}

/* Background image */

html {
  background-image: url(../img/taustakuva.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* Palvelut-page carousel */

.carousel {
  width: 100%;
  height: 52vw;
  max-height: 470px;
  max-width: 800px;
}

@keyframes display {
  0% {
    transform: translateX(2vw) perspective(75em) rotateY(-10deg) scale(1.1, 1.1);
    opacity: 0;
  }
  2% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  23% {
    transform: translateX(-5vw) perspective(75em) rotateY(-10deg)
      scale(0.9, 0.9);
    opacity: 0;
  }
  30% {
    transform: translateX(0);
    opacity: 0;
  }

  100% {
    transform: translateX(-5vw);
    opacity: 0;
  }
}

.carousel {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.carousel > img {
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;
  animation: display 50s infinite;
  animation-delay: -2s;
  box-shadow: rgba(25, 25, 25, 0.3) 0 5px 30px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

img:nth-child(2) {
  animation-delay: 8s;
}
img:nth-child(3) {
  animation-delay: 18s;
}
img:nth-child(4) {
  animation-delay: 28s;
}
img:nth-child(5) {
  animation-delay: 38s;
}

/* Site footer styling */

#site-footer {
  background-color: rgba(12, 12, 12, 0.9);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: #f9f9f9;
  margin-top: 1.5rem;
  padding: 1.5em;
  text-align: center;
}

/* Media queries */

/* Less than 1312px on 16px body font size */
@media (max-width: 82em) {
  #layout {
    grid-template-columns: 1fr 28fr 1fr;
  }

  #site-header {
    padding: 1.8rem 0;
  }

  #site-title {
    font-size: 4rem;
  }

  #main-menu li a {
    font-size: 1.2em;
    padding: 0.5em;
    line-height: 2.3em;
  }

  #site-content {
    padding: 1.3em;
  }

  #site-footer {
    margin-top: 1.3em;
    padding: 1.3em;
  }

  #language-menu img {
    max-height: 1.8rem;
  }
}

/* Less than 992px on 16px body font size */
@media (max-width: 62em) {
  #site-title {
    font-size: 3rem;
  }

  #site-header {
    padding: 1.5rem 0;
  }

  #main-menu li a {
    font-size: 1.1em;
    padding: 0.4em;
    line-height: 2.1em;
  }

  #site-content {
    padding: 1em;
  }

  #site-footer {
    margin-top: 1em;
    padding: 1em;
  }

  #language-menu img {
    max-height: 1.5rem;
  }
}

/* Less than 688px on 16px body font size */
@media (max-width: 43em) {
  .left,
  .right {
    float: none;
    margin-left: 0;
    margin-right: 0;
  }

  .half {
    width: 100%;
  }

  #site-header {
    padding: 1rem 0;
  }

  #site-title {
    font-size: 2rem;
    text-shadow: 1px 1px 1px #570707;
  }

  .hamburger-button {
    display: block;
    cursor: pointer;
  }

  #main-menu {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    visibility: hidden;
  }

  #main-menu li {
    display: block;
    margin: 0;
  }

  #main-menu li:first-child {
    display: block;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 3rem;
  }

  #main-menu li:first-child label {
    background-color: #270303;
    display: block;
    left: 0;
    text-align: center;
    padding: 0 10px;
    right: 0;
  }

  #main-menu li:first-child label span {
    display: inline;
    position: absolute;
    right: 1rem;
  }

  #main-menu li a {
    border-radius: 0;
    display: block;
    font-size: 1em;
    line-height: 1.9em;
    padding: 0.3em;
    text-align: center;
  }

  .hamburger-button,
  input[type="checkbox"]:checked ~ #main-menu {
    visibility: visible;
  }

  #main-menu > label:last-child {
    display: block;
    height: 100%;
    width: 100%;
  }

  #site-content {
    padding: 0.7em;
  }

  #site-footer {
    margin-top: 0.7em;
    padding: 0.7em;
  }

  .dual-flex-container {
    display: block;
  }

  .product-price {
    margin-bottom: 1rem;
  }

  label:not(.radio-label) {
    display: block;
    min-width: auto;
  }

  input,
  textarea {
    min-width: 100%;
  }

  #language-menu img {
    max-height: 1.2rem;
  }
}
