/* Apply reasonable defaults */
* {
  border: 0 none;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

.hidden {
  display: none !important;
}

/* GRID */

#layout {
  display: grid;
  grid-template-areas:
    "header-left           header        header-right"
    "left-panel       content       right-panel"
    "footer           footer        footer";
  grid-template-columns: 1fr 28fr 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100%;
}

#primary-header {
  grid-area: header;
}

#content-section {
  grid-area: content;
}

#site-footer {
  /*bottom: 0;*/
  grid-area: footer;
}

#content-section,
#site-footer {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

/* Header */

#primary-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-height: 10em;
  padding: 0.1em 0;
}

#primary-header,
#primary-header a,
#primary-header a:visited {
  text-decoration: none;
}

#site-title {
  vertical-align: middle;
}

#site-title img {
  margin-right: .5em;
}

#logo {
  max-width: 8rem;
}

#primary-header nav ul {
  font-size: 1em;
  list-style-type: none;
  padding: 0;
  margin: 0.1em 0;
}

#primary-header nav li {
  display: inline-block;
  margin: 0.1em;
}

#primary-header nav li a {
  font-size: 1.3em;
  border-radius: 3px;
  padding: 0.6em;
}

/* Color theming */

body {
  background-color: #fafceb;
  color: #0f0f0f;
}

#content-section {
  background-color: #f9f9f9;
}

a,
a:hover,
a:visited {
  color: #591010;
}

#primary-header nav li a {
  background-color: #a50d0e;
  color: #f9f9f9;
}

/* Typography */

body {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6,
#primary-header {
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
}

#content-section h1,
#content-section h2,
#content-section h3,
#content-section h4,
#content-section h5,
#content-section h6 {
  margin-top: 0.5em;
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 1rem;
}

#site-title {
  font-weight: 700;
}

/* Media queries */

/* Less than 1312px on 16px body font size */
@media (max-width: 82em) {
  #logo {
    max-width: 6rem;
  }
}

/* Less than 992px on 16px body font size */
@media (max-width: 62em) {
  #primary-header {
    min-height: auto;
  }

  #primary-header nav li a {
    font-size: 1em;
    padding: .6em;
  }
}

/* Less than 688px on 16px body font size */
@media (max-width: 43em) {
  #logo {
    max-width: 3rem;
  }
}
